.create-url-form-wrapper {
  width: 100%;

  .create-url-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .input-container {
      display: inline-block;
      width: 30%;

      input {
        border-radius: $standard-border-radius;
      }
    }

    .create-url-form-submit-button {
      width: 52px;
      display: inline-block;
    }
  }
}
