.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-gray;

  .footer-inner-wrapper {
    width: 75%;
    min-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    margin-top: 100px;
    border-top: 0.75px solid $lighter-gray;

    .footer-links {
      display: flex;
      align-items: center;

      .footer-link {
        margin: 0 13px;
        color: $medium-dark-gray;
        transition:
          color 0.3s,
          transform 0.3s ease;

        &:hover {
          color: $teal-blue;
          transform: translateY(-4px); /* Small lift effect on hover */
        }
      }
    }

    .footer-copyright {
      margin-top: 30px;
      font-size: 0.9rem;
      text-align: center;

      .copyright-year-name {
        font-weight: 700;
      }
    }
  }
}
