.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3%;
  background-color: $light-gray;
  border-top: 0.75px solid $lighter-gray;
  font-size: 0.9rem;

  .footer-copyright-container {
    display: flex;
    align-items: center;

    .footer-copyright-text {
      color: $medium-gray;

      .michael-portfolio {
        color: #0073e6;
        transition: color 0.3s ease;
        text-decoration: none;

        &:hover {
          color: #005bb5;
          font-weight: 500;
        }
      }
    }
  }

  .footer-contact {
    display: flex;
    align-items: center;

    .footer-link {
      margin: 0 10px;
      color: #666;
      transition: color 0.3s;
      transition: transform 0.3s ease;

      &:hover {
        color: $darker-gray;
        transform: translateY(-2px); /* Small lift effect on hover */
      }
    }
  }
}
