.form-wrapper {
  width: 40%;
  min-width: 400px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.login-form-wrapper,
  &.signup-form-wrapper {
    margin-top: 30px;
  }
}

form {
  width: 100%;

  h2 {
    color: $teal-blue;
    margin: 0 0 15px;
  }

  .input-container {
    position: relative;

    input {
      width: 100%;
      height: 60px;
      padding: 12px 15px;
      border: 1px solid #ebebeb;

      &.first-input {
        border-top-left-radius: $standard-border-radius;
        border-top-right-radius: $standard-border-radius;
      }

      &.last-input {
        border-bottom-left-radius: $standard-border-radius;
        border-bottom-right-radius: $standard-border-radius;
      }

      &:focus {
        border-color: $teal-blue;
        outline: none;
      }
    }

    label {
      position: absolute;
      left: 15px; // Same as the input padding-left
      top: 30%;
      color: $form-label-gray;
      pointer-events: none; // This ensures that clicks go through the label to the input
      transition: 0.25s ease;
    }

    // moves the label to the top when there is any value in the input
    input:not(:placeholder-shown) + label {
      top: 3px;
      font-size: 0.75rem;
      color: $teal-blue;
    }

    // a placeholder is required for the above effect, but creates an overlap,
    // so this makes the double placeholder invisible
    input::placeholder {
      opacity: 0;
    }

    &.password-input-wrapper {
      position: relative;

      .password-toggle-btn {
        position: absolute;
        right: 10px; /* Adjust the position as needed */
        top: 50%;
        padding: 5px;
        border: 1px solid $lighter-gray;
        border-radius: $standard-border-radius;
        cursor: pointer;
        transform: translateY(-50%);
        background-color: transparent;
      }
    }
  }

  button {
    &[disabled] {
      background-color: $lighter-gray;
      cursor: not-allowed;

      &:hover {
        background-color: $lighter-gray;
        cursor: not-allowed;
      }
    }
  }
}

.under-form-text {
  margin-top: 20px;
}
