.top-nav {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid $lighter-gray;
  box-shadow: 0 1px 4px #0000001a;
  z-index: 2;

  .landing-nav-link {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: $darker-gray;

    &.signup-link {
      color: $bright-blue;
      font-weight: 600;
    }

    &:hover {
      cursor: pointer;
      color: $bittersweet;
    }
  }
}

.logo {
  width: auto;
  height: 50px;
}
