.landing-nav,
.nav-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .landing-nav-link {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: $darker-gray;

    &.signup-link {
      color: $teal-blue;
      font-weight: 600;
    }

    &:hover {
      cursor: pointer;
      color: $bittersweet;
    }
  }
}

.logo {
  width: auto;
  height: 50px;
}
