.base-nav,
.landing-nav,
.nav-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $lighter-gray;

  .landing-nav-link {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: $darker-gray;

    &.signup-link {
      color: $bright-blue;
      font-weight: 600;
    }

    &:hover {
      cursor: pointer;
      color: $bittersweet;
    }
  }
}

.logo {
  width: auto;
  height: 50px;
}
