.user-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 0.9rem;
  background-color: #fff;
  color: $darker-gray;
  border-radius: $standard-border-radius;

  &:hover {
    background-color: #fff;
    color: $bittersweet;
    cursor: pointer;
  }
}

.user-menu-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 200px;
  top: 65px;
  right: 20px;
  padding: 10px 0px;
  background-color: #fff;
  border-radius: $standard-border-radius;
  box-shadow: 0px 0px 14px 0.5px rgba(221, 221, 221, 0.7);
  list-style: none;

  .user-menu-dropdown-link,
  .user-menu-dropdown-button {
    width: 100%;
    border: none;
    background-color: #fff;
    color: #000;
    padding: 15px;
    font-size: 0.8rem;
    text-align: left;
    white-space: nowrap;

    &:hover {
      color: $bittersweet;
      cursor: pointer;
    }

    &:last-child {
      font-weight: 700;
    }
  }

  li {
    padding: 15px;
    font-size: 0.7rem;
    white-space: nowrap;

    span {
      color: $teal-blue;
      font-weight: 700;
    }
  }
}
