$neon-blue: #58ecf5;
$bright-blue: #02bdc7;
$teal-blue: #66b2b2;
$lighter-gray: #e2e2e2;
$light-gray: #fafafa;
$form-label-gray: #a9a9a9;
$medium-gray: #888;
$medium-dark-gray: #666;
$dark-gray: #555;
$slate-gray: #52585f;
$darker-gray: #333;
$bittersweet: #f56960;
$sienna: #e76f51;
$tangerine: #f08700;
$beige: #ccc9a1;
$yellow: #faff00;
