$gopher-blue: #00add8;
$turquoise: #0aa0aa;
$neon-blue: #58ecf5;
$lighter-gray: #e2e2e2;
$light-gray: #fafafa;
$form-label-gray: #a9a9a9;
$medium-gray: #888;
$dark-gray: #555;
$slate-gray: #52585f;
$darker-gray: #333;
